<!DOCTYPE html>
<head>
    <title>Manager Page</title>
</head>
<body>
    <h1>Testing</h1>
    <% for (var i in customers) {%>
        <p>Name: <%=customers[i].customer_name%><p>
    <% } %>
    
</body>