<!DOCTYPE html>
<head>
    <title>Manager Page</title>
    <link rel="stylesheet" href="../public/css/manager.css">
</head>
<body>
    <div class="main-container">

        <div class="options-pane">

        </div>

        <div class="menu-items">


        </div>

        <div class="inventory-items">


        </div>

        <div class="employees">

        </div>

    </div>
    
</body>